* {
  box-sizing: border-box;
}

body {
  width: 100vh;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: "Keep-calm", sans-serif;
}

div {
  display: flex;
}

#start-page {
  width: 100vw;
  height: 100vh;
  background-image: url("images/keepcalm.jpg");
  background-color: #c00c05;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

#keep-calm-top {
  width: 100vw;
  height: 60vh;
  background-image: url("images/keepcalmtop.jpg");
  background-color: #c00c05;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  display: flex;
}

#keep-calm-middle {
  width: 100vw;
  height: 100px;
  background-color: #c00c05;
  display: flex;
  justify-content: center;
  align-items: center;
}

#keep-calm-bottom {
  width: 100vw;
  height: 30vh;
  background-image: url("images/keepcalmbottom.jpg");
  background-color: #c00c05;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  display: flex;
}

#game-page {
  display: none;
  grid-template-columns: 20px minmax(30vw,auto) 40vw minmax(30vw,auto) 20px;
  grid-template-rows: minmax(20vh,auto) minmax(200px,auto) minmax(10vh,auto);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: stretch;
  align-items: stretch;
  grid-auto-rows: min-content;
}

#game-header{
  grid-area: 1 / 3 / 2 / 4;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self:  flex-end;
  margin-bottom: 20px;
}

.header-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  color: #fffb00;
  /* border: #c1bfa1 2px solid ; */
  /* box-shadow:  rgb(0, 0, 0) 5px 5px 4px -1px; */
  background-color: #ed7da2;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='%23980b3a' stroke-width='8' stroke-dasharray='5%2c 5' stroke-dashoffset='57' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 18px;
  margin: 5px;
}

.game-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  color: #fffb00;
  background-color: #980b3a;
  border-radius: 18px;
  margin: 5px;
  z-index: 1;
}

#game-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex: 1;
}

#game-name {
  grid-area: 1 / 1 / 2 / 2;
}

#game-level {
  grid-area: 1 / 2 / 2 / 3;
}

#game-moves {
  grid-area: 2 / 1 / 3 / 3;
}

#game-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: flex-end;
  flex: 1;
}

#game-stars {
  grid-area: 1 / 1 / 2 / 2;
}

#game-score {
  grid-area: 1 / 2 / 2 / 3;
}

#game-candy-target {
  grid-area: 2 / 1 / 3 / 2;
}

#game-target {
  grid-area: 2 / 2 / 3 / 3;
}

#game-container3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#game-container3 > img {
  display: flex;
  animation: shake 10s;
  animation-iteration-count: infinite;
  flex: 0 1 100px;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  #game-page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto 50px;

    
  }
  #game-container1 {
    grid-area: 1 / 1 / 2 / 2;
    flex: 1 1 auto;
  }

  #game-container2 {
    grid-area: 1 / 2 / 2 / 3;
    flex: 1 1 auto;
  }

  #game-container3 {
    grid-area: 3 / 3 / 4 / 4;
    flex: 1 1 auto;
  }

  #game-container3 > img {
    margin: 0px;
    flex: 1 1 auto;
  }
  #grid {
    grid-gap: 2px;
    grid-area: 2 / 1 / 3 / 4;
    padding-top: 3px;
  }
  #game-footer {
    grid-area: 3 / 1 / 4 / 3;
    flex: 1 1 auto;
  }

  .button {
    width: 30px;
    height: 10px;
  }

  .small-button {
    width: 30px;
    height: 10px;
  }

  .game-display {
    width: 30px;
    height: 10px;
    flex: 1 1 auto;
  }
}

#grid {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  grid-area: 2 / 2 / 3 / 5;
  background-color: rgba(120, 120, 120, 0.501);
  box-shadow: inset 0 0 8px rgb(40, 40, 40);
  
}

#game-footer {
  grid-area: 3 / 2 / 4 / 5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#level-page {
  height: 100%;
  width: 0; /* width 0 is hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.64); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
  padding: 30px 50px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#level-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  flex: 1 1 auto;
  align-content: center;
}

@media (max-width: 768px) {
  #level-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: space-evenly;
    grid-gap: 25px;
  }

  .level-button {
    width: 50px;
    height: 50px;
  }
}

#level-button,#setting-button {
  margin-top: 20px;
}

.level-button {
  font-weight: 600;
  font-size: 2.8rem;
  color: #000000;
  background: linear-gradient(90deg, #c0b005 0%, #cdbf25 100%);
  padding: 5px 5px;
  border: #c1bfa1 2px solid;
  box-shadow: rgb(0, 0, 0) 5px 5px 4px -1px;
  border-radius: 50%;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  animation: shake 5s;
  animation-iteration-count: infinite;
}

.level-button:hover,
.level-button:active {
  transition: 1000ms;
  transform: translateY(-6px);
  background: linear-gradient(90deg, #fcf808 0%, #fff15c 100%);
  box-shadow: rgb(0, 0, 0) 10px 10px 15px 3px;
  color: #1500ff;
}

#setting-page {
  height: 100%;
  width: 0; /* width 0 is hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.64); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
  padding: 30px 50px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#setting-title {
  height: 80px;
  width: 300px;
  flex: 0 1 auto;
  margin-bottom: 50px;
  font-size: 1.6rem;
}
#setting-container {
  display: grid;
  grid-template-columns: auto 1fr 2fr 2fr 1fr auto;
  grid-template-rows: auto repeat(3, 65px) auto;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
}

#label-name {
  grid-area: 2 / 2 / 3 / 3;
}

#select-user {
  grid-area: 2 / 3 / 3 / 4;
  text-align: center;
  font-size: 1.5rem;
}

#name {
  grid-area: 2 / 4 / 3 / 5;
  text-align: center;
  font-size: 2rem;
}

#add-user{
  grid-area: 2 / 5 / 3 / 6;
}

#label-music {
  grid-area: 3 / 2 / 4 / 3;
}

#music {
  grid-area: 3 / 3 / 4 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
}

#label-sound {
  grid-area: 4 / 2 / 5 / 3;
}

#range-sound {
  grid-area: 4 / 3 / 5 / 6;
  height: 100%;
}

#back-button2{
  margin-top: 50px;
  justify-self: flex-start;
}

.button {
  font-weight: 600;
  font-size: 2.8rem;
  color: #c1bfa1;
  background: linear-gradient(90deg, #c00c05 0%, #cd2b25 100%);
  padding: 5px 5px;
  border: #c1bfa1 2px solid;
  box-shadow: rgb(0, 0, 0) 5px 5px 4px -1px;
  border-radius: 25px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  animation: shake 5s;
  animation-iteration-count: infinite;
}

.button:hover,
.button:active {
  transition: 1000ms;
  transform: translateY(-6px);
  background: linear-gradient(90deg, #fc1008 0%, #ff625c 100%);
  box-shadow: rgb(0, 0, 0) 10px 10px 15px 3px;
  color: #eae7c3;
}

.small-button {
  font-weight: 300;
  font-size: 1.5rem;
  color: #000000;
  background: linear-gradient(90deg, #fffb00 0%, #ffbb00 100%);
  padding: 5px 5px;
  border: #c1bfa1 2px solid;
  box-shadow: rgb(0, 0, 0) 5px 5px 4px -1px;
  border-radius: 25px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin: 0 10px;
  animation: shake 5s;
  animation-iteration-count: infinite;
}

.small-button:hover,
.small-button:active {
  transition: 1000ms;
  transform: translateY(-6px);
  background: linear-gradient(90deg, #ffd153, #fffc3a 0% 100%);
  box-shadow: rgb(0, 0, 0) 10px 10px 15px 3px;
  color: #000000;
}



@media (max-width: 768px) {
  #setting-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
    justify-content: center;
    align-content: center;
  }
}

.setting-display {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 47, 47, 0.89);
  border: 2px white solid;
  border-radius: 25px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  animation: shake 10s;
  animation-iteration-count: infinite;
  flex: 1 1 auto;
}

/* background animation credit to Manuel Pinto */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* background animation credit to Manuel Pinto */

#grid > img {
  display: flex;
  flex: 1 1 minmax(30px, 70px);
}

/* credit: MDN documentation demo */
.cell:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 2s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  cursor: pointer;
}

/* credit: MDN documentation demo */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.dragging {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  opacity: 0.8;
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.slidecontainer {
  width: 100%;
}

/* slider from w3schools demo */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
